body {
  background: #ffffff;
  margin: 0;
  font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #fff;
  padding-left: 240px;
}

main {
  position: relative;
  height: 100vh;
}

#empresas{
  background-color: #69696c;
}

.helper {
  background: rgba(0, 0, 0, 0.2);
  color: #070707;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  padding: 1.2em 2em;
  text-align: center;
  border-radius: 20px;
  font-size: 2em;
  font-weight: bold;
}

.menu {
  background: #c9c6c6;
  height: 100vh;
  width: 240px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  outline: none;
}

.menu .avatar {
  background: rgba(0, 0, 0, 0.1);
  padding: 2em 0.5em;
  text-align: center;
}

.menu .avatar img {
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #c9c6c6;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 255);
}

.menu .avatar h2 {
  font-weight: normal;
  margin-bottom: 0;
}

.menu ul {
  list-style: none;
  padding: 0.5em 0;
  margin: 0;
}

.menu ul li {
  padding: 0.5em 1em 0.5em 3em;
  font-size: 0.95em;
  font-weight: regular;
  color: #070707;
  background-repeat: no-repeat;
  background-position: left 15px center;
  background-size: auto 20px;
  transition: all 0.15s linear;
  cursor: pointer;
}

.cerrar-sesion {
  text-align: center;
  margin: 2px;
  margin-top: 30px;
  display: flex; /* Utiliza flexbox para centrar verticalmente */
  justify-content: center; /* Centra verticalmente */
  background-color: #69696c;
  border-radius: 15px;
}

div a.button-cerrar-sesion {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #000000; 
  border-radius: 20px;
  transition: all 0.3s ease;
}

.button-cerrar-sesion:hover {
  background-color: #ffffff; /* Cambia el color de fondo al pasar el mouse */
  color: #000000; /* Cambia el color del texto al pasar el mouse */
}

.menu ul li.icon-inicio {
  background-image: url(../img/house_icon.png);
}

.menu ul li.icon-empresas {
  background-image: url(../img/icon-empresa.png);
}

.menu ul li.icon-impuesto {
  background-image: url(../img/icons-impuesto.png);
}

.menu ul li.icon-bdd {
  background-image: url(../img/icon-bdd.png);
}

.menu ul li.icon-stock {
  background-image: url(../img/stock_icon.png);
}

.menu ul li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu ul li:focus {
  outline: none;
}

.container {
  background-color: #dadada;
  margin: 2%;
  height: calc(100vh - 60px);
  width: calc(95vw - 60px);
  display: block;
  border-radius: 20px;
  position: relative;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 0 10px #000000;
}

.new-empresa-container {
  background-color: #f5f5f5;
  border-radius: 20px;
  padding: 20px;
  margin-top: 5%;
  position: relative;
  display: flex;
  width: 90%;
  height: 67%;
  margin: 2% 2% 2% 2%;
  margin-left: 3%;
  margin-right: 3%;
  flex-direction: column;
  align-items: center;
  color: #000000;
  box-shadow: 0 0 10px #000000;
}



.empresas-container {
  background-color: #dadada;
}

.title {
  background-color: #bdbdbd;
  padding: 10px 20px;
  border-radius: 30px;
  position: relative;
  bottom: 50px;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}


.new-empresa-form {
  width: 95%;
  display: flex;
  padding-left: 20%;
  padding-right: 20%;
  flex-direction: column;
  align-items: center;
}

.new-empresa-form label {
  width: 40%;
  margin-bottom: 29px;
}

.new-empresa-form input {
  width: 80%;
  padding: 10px;
  border-width: 1px;
  border-radius: 20px;
  font-size: 16px;
  margin: 3px;
}

.btn-regresar {
  background-color: #ffffff;
  color: #000000;
  margin-top: 10%;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 4px;
}

.btn-agregar {
  background-color: #69696c;
  color: white;
  padding: 10px 20px;
  margin: 15px 50% 0 50%;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
}

.labels{
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-right: 50%;
  margin-top: 12px;
}

.inputs{
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 50%;
}

@media screen and (max-width: 1920px) and (min-width: 400px) {
  body {
    padding-left: 90px;
    overflow: hidden;
  }

  .menu {
    width: 90px;
    transition: all 0.5s;
    box-shadow: 0 0 15px #000000;
  }

  .menu .avatar {
    padding: 0.5em;
    position: relative;
  }

  .menu .avatar img {
    width: 60px;
  }

  .menu .avatar h2 {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 100px;
    margin: 0;
    min-width: 200px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.4);
    transform: translate3d(-20px, -50%, 0);
    transition: all 0.15s ease-in-out;
  }

  .menu .avatar:hover h2 {
    opacity: 1;
    transform: translate3d(0px, -50%, 0);
  }

  .menu ul li {
    height: 60px;
    background-position: center center;
    background-size: 30px auto;
    position: relative;
  }

  .menu ul li span {
    opacity: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    padding: 0.2em 0.5em;
    border-radius: 4px;
    top: 50%;
    left: 80px;
    transform: translate3d(-15px, -50%, 0);
    transition: all 0.15s ease-in-out;
  }

  .menu ul li:hover span {
    opacity: 1;
    transform: translate3d(0px, -50%, 0);
  }

  @media screen and (max-width: 400px) {
    body {
      padding-left: 0;
    }

    .menu {
      width: 230px;
      box-shadow: 0 0 0 100em rgba(0, 0, 0, 0);
      transform: translate3d(-230px, 0, 0);
      transition: all 0.3s ease-in-out;
    }

    .menu .smartphone-menu-trigger {
      width: 40px;
      height: 40px;
      position: absolute;
      left: 100%;
      background: #c9c6c6;
    }

    .menu .smartphone-menu-trigger:before,
    .menu .smartphone-menu-trigger:after {
      content: "";
      width: 50%;
      height: 2px;
      background: #fff;
      border-radius: 10px;
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }

    .menu .smartphone-menu-trigger:after {
      top: 55%;
      transform: translate3d(-50%, -50%, 0);
    }

    .menu ul li {
      padding: 1em 1em 1em 3em;
      font-size: 1.2em;
    }

    .menu:focus {
      transform: translate3d(0, 0, 0);
      box-shadow: 0 0 0 100em rgba(0, 0, 0, 0.6);
    }
  }
}
