<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Clientes</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/css/clientes.css'>
    <script src='main.js'></script>
</head>

<body>
    <nav class="menu" tabindex="0">
        <div class="smartphone-menu-trigger"></div>
        <header class="avatar">
            <img src="../static/img/foto_perfil.png" />
            <h2 style="color: #070707; font-weight: bold">Pedrito</h2>
            <h2 style="font-size: 15px; color: #070707">Cliente</h2>
        </header>
        <div class="lista-iconos">
            <a href="/cliente/home" tabindex="0" class="icon-factura"><span>Inicio</span></a>
        </div>

        <div class="cerrar-sesion">
            <a href="../templates/index.html" class="button-cerrar-sesion">Cerrar Sesión</a>
        </div>
    </nav>
    <div class="container">
        <div class="new-cliente-container">
            <h2 class="title">Clientes</h2>
            <div class="lista-container">
                <div class="columna">
                    <h2 class="titulo-columna">#</h2>
                    <ul class="lista">
                        <li>1234567890</li>
                        <li>1234567891</li>
                        <!-- Agrega más elementos según sea necesario -->
                    </ul>
                </div>
                <div class="columna">
                    <h2 class="titulo-columna">Fecha</h2>
                    <ul class="lista">
                        <li>04/08/2022</li>
                        <li>04/03/2022</li>
                        <!-- Agrega más elementos según sea necesario -->
                    </ul>
                </div>
            </div>
        </div>
        <button class="btn-eliminar">Descargar</button>
    </div>
    </div>
</body>

</html>