<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link rel="stylesheet" href="../static/css/admin-add-empresas.css" />
</head>
<body>
    <nav class="menu" tabindex="0">
        <div class="smartphone-menu-trigger"></div>
        <header class="avatar">
            <img src="../static/img/foto_perfil.png" />
            <h2 id="admin-name" style="color: #070707; font-weight: bold">Loading...</h2>
            <h2 style="font-size: 15px; color: #070707">Administrador</h2>
        </header>
        <div class="lista-iconos">
            <a href="/admin/home" tabindex="0" class="icon-inicio">
                <span>Inicio</span>
            </a>
            <a id="empresas" href="/admin/admin-empresas" tabindex="0" class="icon-empresas">
                <span>Empresas</span>
            </a>
            <a href="/admin/admin-empresas" class="icon-stock"><span>Modulos</span></a>
            <a href="/admin/admin-percentages" class="icon-impuesto"><span>Percentages</span></a>
            <a href="admin-bdds.html" class="icon-bdd"><span>BDD</span></a>
        </div>

        <div class="cerrar-sesion">
            <a href="/logout" class="button-cerrar-sesion">Cerrar Sesión</a>
        </div>
    </nav>

    <div class="container">
        <div class="new-empresa-container">
            <h2 class="title">Agregar Empresa</h2>
            <form class="new-empresa-form">
                <div class="labels">
                    <label for="nombre">Nombre:</label>
                    <label for="direccion">Dirección:</label>
                    <label for="telefono">Teléfono:</label>
                    <label for="email">Email:</label>
                    <label for="usuario">Usuario:</label>
                    <label for="contraseña">Contraseña:</label>
                    <label for="nit">NIT:</label>
                    <label for="session_limit">Límite de Sesiones:</label>
                    <label for="general_discount">Descuento General (%):</label>
                    <label for="tax">Impuesto (%):</label>
                    <label for="profit_percentage">Porcentaje de Ganancia (%):</label>
                </div>
                <div class="inputs">
                    <input type="text" id="nombre" required />
                    <input type="text" id="direccion" required />
                    <input type="text" id="telefono" required />
                    <input type="email" id="email" required />
                    <input type="text" id="usuario" required />
                    <input type="password" id="contraseña" required />
                    <input type="text" id="nit" required />
                    <input type="date" id="session_limit" required />
                    <input type="number" id="general_discount" min="0" max="100" step="0.01" required />
                    <input type="number" id="tax" min="0" max="100" step="0.01" required />
                    <input type="number" id="profit_percentage" min="0" max="100" step="0.01" required />
                </div>

                <button class="btn-agregar" type="submit">Agregar</button>
            </form>
        </div>
        <a href="/admin/admin-empresas" class="btn-regresar">Regresar</a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../static/js/empresas/add-empresas.js"></script>
</body>
</html>
