<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vendedor | CONSULTAR</title>
    <link rel="stylesheet" href="/css/vendedor-consultar-style.css" />
  </head>
  <body>
    <nav class="menu" tabindex="0">
      <div class="smartphone-menu-trigger"></div>
      <header class="avatar">
        <img src="/img/foto_perfil.png" />
        <h2 style="color: #070707; font-weight: bold">Pedrito</h2>
        <h2 style="font-size: 15px; color: #070707">Vendedor</h2>
      </header>
      <div class="lista-iconos">
        <a
          href="/MODULO DE VENDEDOR/vendedor-inicio.html"
          tabindex="0"
          class="icon-inicio"
          ><span>Inicio</span></a
        >
        <a
          href="/MODULO DE VENDEDOR/vendedor-clientes.html"
          tabindex="0"
          class="icon-clientes"
          ><span>Clientes</span></a
        >
        <a
          href="/MODULO DE VENDEDOR/vendedor-cotizacion.html"
          tabindex="0"
          class="icon-cotizacion"
          ><span>Cotización</span></a
        >
        <a
          href="/MODULO DE VENDEDOR/vendedor-compra.html"
          tabindex="0"
          class="icon-compra"
          ><span>Compra</span></a
        >
        <a
          href="/MODULO DE VENDEDOR/vendedor-stock.html"
          tabindex="0"
          class="icon-stock"
          ><span>Stock</span></a
        >
        <a
          href="/MODULO DE VENDEDOR/vendedor-consultar.html"
          tabindex="0"
          class="icon-consultar active"
          ><span>Consultar</span></a
        >
      </div>

      <div class="cerrar-sesion">
        <a href="/index.html" class="button-cerrar-sesion">Cerrar Sesión</a>
      </div>
    </nav>

    <div class="container">
      <div class="new-cliente-container">
        <h2 class="title">Consultar</h2>
      </div>
    </div>
  </body>
</html>
