body {
  background: #ffffff;
  margin: 0;
  font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #fff;
  padding-left: 240px;
}

main {
  position: relative;
  height: 100vh;
}

.container {
  background-color: #dadada;
  margin: 2%;
  height: calc(75vh - 40px);
  width: calc(95vw - 220px);
  display: block;
  border-radius: 20px;
  position: fixed;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 0 10px #000000;
}

.new-cliente-container {
  background-color: #353131;
  border-radius: 20px;
  padding: 20px;
  margin-top: 5%;
  position: relative;
  display: flex;
  height: 80%;
  margin: 2% 2% 2% 2%;
  margin-left: 3%;
  margin-right: 3%;
  flex-direction: column;
  align-items: center;
  color: #000000;
  box-shadow: 0 0 10px #000000;
}

.empresas-container {
  background-color: #dadada;
}

.title {
  background-color: #bdbdbd;
  padding: 10px 20px;
  border-radius: 30px;
  position: relative;
  bottom: 50px;
  width: 100.5%;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 30px;
}

.new-cliente-form {
  width: 20%;
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  flex-direction: column;
  align-items: center;
}

.new-cliente-form label {
  width: 10%;
  margin-bottom: 46.7px;
}

.new-cliente-form input {
  width: 80%;
  padding: 10px;
  border-width: 1px;
  border-radius: 20px;
  font-size: 16px;
  margin: 3px;
  margin-bottom: 24.7px;
}

.btn-verlista {
  background-color: #8f8f8f;
  color: #ffffff;
  margin-top: 10%;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  bottom: -1%;
  margin-bottom: 20px;
  left: 51%;
  transform: translateX(-50%);
  box-shadow: 0 0 4px;
  text-decoration: none;
}

.btn-aceptar {
  background-color: #ffffff;
  color: #272727;
  padding: 10px 20px;
  margin: 15px 50% 0 50%;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  margin-top: 30%;
  right: -12px;
}

.btn-volver {
  background-color: #ffffff;
  color: #272727;
  padding: 10px 20px;
  margin: 15px 50% 0 50%;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  margin-top: 85%;
  right: 28px;
}

.labels {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-right: 50%;
  margin-top: 7.9px;
  font-size: 19px;
  color: #ffffff;
}

.inputs {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 70%;
  width: 200%;
}

.menu {
  background: #c9c6c6;
  height: 100vh;
  width: 240px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  outline: none;
}

.menu .avatar {
  background: rgba(0, 0, 0, 0.1);
  padding: 2em 0.5em;
  text-align: center;
}

.menu .avatar img {
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #c9c6c6;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 255);
}

.menu .avatar h2 {
  font-weight: normal;
  margin-bottom: 0;
}

.menu div a {
  list-style: none;
  padding: 0.5em 0;
  margin: 0;
}

.menu div a {
  padding: 0.5em 1em 0.5em 3em;
  font-size: 0.95em;
  font-weight: regular;
  color: #070707;
  background-repeat: no-repeat;
  background-position: left 15px center;
  background-size: auto 20px;
  transition: all 0.15s linear;
  cursor: pointer;
  margin-bottom: 5px;
  margin-top: 20px;
}

.lista-iconos {
  display: flex;
  flex-direction: column;
}

.lista-iconos a {
  display: block;
  padding: 1em 2em;
  text-decoration: none;
  color: #000;
  transition: background-color 0.3s, color 0.3s, border-bottom 0.3s;
}

.lista-iconos a:hover {
  background-color: #f0f0f0;
}

.lista-iconos a:hover {
  background-color: rgba(
    0,
    0,
    0,
    0.1
  ); /* Cambiar el color de fondo al pasar el mouse */
}

.lista-iconos a.active {
  background-color: #f0f0f0; /* Cambiar el color de fondo del enlace activo */
  color: #333; /* Cambiar el color de texto del enlace activo */
  border-bottom: 2px solid #070707; /* Agregar un borde inferior al enlace activo */
}

.lista-iconos a.active span {
  font-weight: bold; /* Hacer el texto dentro del enlace activo en negrita */
}

.cerrar-sesion {
  text-align: center; /* Centra horizontalmente */
  margin-top: 30px; /* Agrega margen hacia abajo */
  display: flex; /* Utiliza flexbox para centrar verticalmente */
  justify-content: center; /* Centra verticalmente */
}

div a.button-cerrar-sesion {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #000000; /* Color de texto original */
  border: 2px solid #ffffff; /* Borde blanco original */
  border-radius: 5px;
  transition: all 0.3s ease;
}

.button-cerrar-sesion:hover {
  background-color: #ffffff; /* Cambia el color de fondo al pasar el mouse */
  color: #000000; /* Cambia el color del texto al pasar el mouse */
}

.menu div a.icon-inicio {
  background-image: url(../img/house_icon.png);
}

.menu div a.icon-clientes {
  background-image: url(../img/clients_icon.png);
}

.menu div a.icon-cotizacion {
  background-image: url(../img/icono-cotizacion.png);
}

.menu div a.icon-compra {
  background-image: url(../img/purchase_icon.png);
}

.menu div a.icon-stock {
  background-image: url(../img/stock_icon.png);
}

.menu div a.icon-consultar {
  background-image: url(../img/search_icon.png);
}

.menu div a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu div a:focus {
  outline: none;
}

@media screen and (max-width: 900px) and (min-width: 400px) {
  body {
    padding-left: 90px;
  }

  .menu {
    width: 90px;
  }

  .menu .avatar {
    padding: 0.5em;
    position: relative;
  }

  .menu .avatar img {
    width: 60px;
  }

  .menu .avatar h2 {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 100px;
    margin: 0;
    min-width: 200px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.4);
    transform: translate3d(-20px, -50%, 0);
    transition: all 0.15s ease-in-out;
  }

  .menu .avatar:hover h2 {
    opacity: 1;
    transform: translate3d(0px, -50%, 0);
  }

  .menu div a {
    height: 60px;
    background-position: center center;
    background-size: 30px auto;
    position: relative;
  }

  .menu div a span {
    opacity: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    padding: 0.2em 0.5em;
    border-radius: 4px;
    top: 50%;
    left: 80px;
    transform: translate3d(-15px, -50%, 0);
    transition: all 0.15s ease-in-out;
  }

  .menu div a:hover span {
    opacity: 1;
    transform: translate3d(0px, -50%, 0);
  }
}

@media screen and (max-width: 400px) {
  body {
    padding-left: 0;
  }

  .menu {
    width: 230px;
    box-shadow: 0 0 0 100em rgba(0, 0, 0, 0);
    transform: translate3d(-230px, 0, 0);
    transition: all 0.3s ease-in-out;
  }

  .menu .smartphone-menu-trigger {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 100%;
    background: #c9c6c6;
  }

  .menu .smartphone-menu-trigger:before,
  .menu .smartphone-menu-trigger:after {
    content: "";
    width: 50%;
    height: 2px;
    background: #fff;
    border-radius: 10px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }

  .menu .smartphone-menu-trigger:after {
    top: 55%;
    transform: translate3d(-50%, -50%, 0);
  }

  .menu div a {
    padding: 1em 1em 1em 3em;
    font-size: 1.2em;
  }

  .menu:focus {
    transform: translate3d(0, 0, 0);
    box-shadow: 0 0 0 100em rgba(0, 0, 0, 0.6);
  }
}
