<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Unauthorized</title>
    <link rel="stylesheet" href="../static/css/unauthorized.css" />
</head>
<body>
    <nav class="menu" tabindex="0">
        <div class="smartphone-menu-trigger"></div>
        <header class="avatar">
            <svg width="100px" height="100px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="dangerIconTitle" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" fill="none" color="#000000">
                <title id="dangerIconTitle">Danger</title>
                <polygon points="12 2 2 22 22 22" fill="none" stroke="#000000" stroke-width="2" stroke-linejoin="round"/>
                <line x1="12" y1="8" x2="12" y2="14" stroke="#000000" stroke-width="2"/>
                <line x1="12" y1="18" x2="12.01" y2="18" stroke="#000000" stroke-width="2"/>
            </svg>
            <h2 id="admin-name" style="color: #070707; font-weight: bold">Unauthorized</h2>
            <h2 id="admin-role" style="font-size: 15px; color: #070707">Access Denied</h2>
        </header>
    </nav>

    <div class="container">
        <b class="texto-bienvenida">No estás autorizado para realizar esto</b>
        <a href="/acceder" class="btn">Iniciar Sesion</a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
</html>
