<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link rel="stylesheet" href="../static/css/admin-add-empresas.css" />
  </head>
  <body>
    <nav class="menu" tabindex="0">
      <div class="smartphone-menu-trigger"></div>
      <header class="avatar">
        <img src="../static/img/foto_perfil.png" />
        <h2 style="color: #070707; font-weight: bold">Pedrito</h2>
        <h2 style="font-size: 15px; color: #070707">Vendedor</h2>
      </header>
      <div class="lista-iconos">
        <a href="admin.html" tabindex="0" class="icon-inicio">
          <span>Inicio</span>
        </a>
        <a
          id="empresas"
          href="admin-empresas.html"
          tabindex="0"
          class="icon-empresas"
        >
          <span>Empresas</span>
      </a>
        <a href="admin-modulos.html" class="icon-stock"><span>Modulos</span></a>
        <a href="admin-impuesto.html" class="icon-impuesto"><span>Impuesto</span></a>
        <a href="admin-bdds.html" class="icon-bdd"><span>BDD</span></a>
      </div>

      <div class="cerrar-sesion">
        <a href="/index.html" class="button-cerrar-sesion">Cerrar Sesión</a>
      </div>
    </nav>

    <div class="container">
      <div class="new-empresa-container">
        <h2 class="title">Agregar Empresa</h2>
        <form class="new-empresa-form">
          <div class="labels">
            <label for="nombre">Nombre:</label>
            <label for="nit">NIT:</label>
            <label for="nicho">Nicho:</label>
            <label for="representante">Representante:</label>
            <label for="contacto">Contacto:</label>
          </div>
          <div class="inputs">
            <input type="text" id="nombre" />
            <input type="text" id="nit" />
            <input type="text" id="nicho" />
            <input type="text" id="representante" />
            <input type="text" id="contacto" />
          </div>

          <button class="btn-agregar" type="submit">Agregar</button>
        </form>
      </div>
      <a href="admin-empresas.html" class="btn-regresar">Regresar</a>
    </div>
  </body>
</html>
