<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link rel="stylesheet" href="../static/css/admin-modulos.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="menu" tabindex="0">
      <div class="smartphone-menu-trigger"></div>
      <header class="avatar">
        <img src="../static/img/foto_perfil.png" />
        <h2 style="color: #070707; font-weight: bold">Pedrito</h2>
        <h2 style="font-size: 15px; color: #070707">Admin</h2>
      </header>
      <div class="lista-iconos">
        <a href="admin.html" tabindex="0" class="icon-inicio">
          <span>Inicio</span>
        </a>
        <a href="admin-empresas.html" tabindex="0" class="icon-empresas">
          <span>Empresas</span>
        </a>
        <a href="admin-modulos.html" class="icon-stock"><span>Modulos</span></a>
        <a href="admin-impuesto.html" class="icon-impuesto"><span>Percentages</span></a>
        <a href="admin-bdds.html" class="icon-bdd"><span>BDD</span></a>
      </div>

      <div class="cerrar-sesion">
        <a href="/index.html" class="button-cerrar-sesion">Cerrar Sesión</a>
      </div>
    </nav>

    <div class="container">
      <div class="search-bar">
        <input type="search" placeholder="Buscar..." />
      </div>
      <ul id="companies-list">
        <header>
          <h3>ID</h3>
          <h3>Nombre</h3>
        </header>
        <li><span class="column1">#02146</span> <span class="column2">Ebay</span></li>
        <li><span class="column1">#98765</span> <span class="column2">Amazon</span></li>
        <li><span class="column1">#12663</span> <span class="column2">Aliexpress</span></li>
      </ul>
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
            <strong>Modulos</strong>
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse show"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <div class="labels">
                <label class="label-text" id="clientes">Clientes</label>
                <label class="label-text">Ventas</label>
              </div>
              <div class="sliders">
                <label class="switch">
                  <input type="checkbox" id="clientes-modulo"/> <span class="slider round"></span>
                </label>
                <label class="switch">
                  <input type="checkbox" id="ventas-modulo"/> <span class="slider round"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
      integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
