<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin-empresas.css') }}" />
  </head>
  <body>
    <nav class="menu" tabindex="0">
      <div class="smartphone-menu-trigger"></div>
      <header class="avatar">
        <img src="{{ url_for('static', filename='img/foto_perfil.png') }}" />
        <h2 style="color: #070707; font-weight: bold">{{ usuario }}</h2>
        <h2 style="font-size: 15px; color: #070707">Admin</h2>
      </header>
      <div class="lista-iconos">
        <a href="{{ url_for('portaladministrativo') }}" tabindex="0" class="icon-inicio">
          <span>Inicio</span>
        </a>
        <a href="{{ url_for('re_empresas') }}" tabindex="0" class="icon-empresas">
          <span>Empresas</span>
        </a>
        <a href="admin-modulos.html" class="icon-stock"><span>Modulos</span></a>
        <a href="admin-impuesto.html" class="icon-impuesto"><span>Percentages</span></a>
        <a href="admin-bdds.html" class="icon-bdd"><span>BDD</span></a>
      </div>
      <div class="cerrar-sesion">
        <a href="{{ url_for('logout') }}" class="button-cerrar-sesion">Cerrar Sesión</a>
      </div>
    </nav>
    <div class="container">
      <div class="search-bar">
        <form method="GET" action="{{ url_for('search_by') }}">
          <input type="search" name="query" placeholder="Buscar..." />
        </form>
      </div>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Ultima Sesion</th>
            <th>Plazo Sesion</th>
          </tr>
        </thead>
        <tbody>
          {% for empresa in empresas %}
          <tr>
            <td>{{ empresa.id }}</td>
            <td>{{ empresa.nombre }}</td>
            <td>
              {% if empresa.estado == 'activo' %}
              <span style="background-color: #00ff00; border-radius: 50%; width: 20px; height: 20px; display: inline-block;"></span>
              {% else %}
              <span style="background-color: #ff0000; border-radius: 50%; width: 20px; height: 20px; display: inline-block;"></span>
              {% endif %}
            </td>
            <td>{{ empresa.fecha_i }}</td>
            <td>{{ empresa.f_plazo }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="buttons">
        <a href="admin-add-empresas.html" class="btn-agregar">Agregar</a>
        <div class="funciones">
          <button class="btn-habilitar">Habilitar</button>
          <button class="btn-deshabilitar">Deshabilitar</button>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/admin-empresas.js') }}"></script>
  </body>
</html>
