<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/iniciar-sesion-user-style.css">
    <title>Iniciar Sesion</title>
</head>
<body>

    <a href="index.html" class="inicio">
        <button class="boton-inicio">INICIO</button>
    </a>

    <form>

        <h2>Iniciar Sesion</h2>

        <label for="username">Usuario</label>
        <input type="text" id="username">

        <label for="password">Contraseña</label>
        <input type="password" id="password">

        <div class="remember">
            <p>Recordar</p>
            <p>Olvide contraseña</p>
        </div>

        <input type="submit" class="btn-1" value="Iniciar">

    </form>

    <footer>
        <div class="container">
          Derechos de autor © 2024 - Nombre de la Empresa
        </div>
      </footer>
</body>
</html>