<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/css/registro_admin.css" />
    <script src="main.js"></script>
  </head>
  <body>
    <button
      onclick="window.location.href = 'index.html';"
      class="boton-regresar"
    >
      Regresar
    </button>
    <div class="container" id="container">
      <div class="form-container sign-in-container">
        <form action="#">
          <h1>Registro</h1>
          <span>Digite información</span>
          <input type="text" placeholder="Usuario" />
          <input type="email" placeholder="Email" />
          <input type="password" placeholder="Contraseña" />
          <input type="password" placeholder="Repita contraseña" />
          <input type="date" placeholder="" />
          <input type="number" placeholder="Contacto" />
          <a href=""></a>
          <a href="index2.html"><button>Registrarse</button></a>
        </form>
      </div>
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-right">
            <h1>Bienvenido</h1>
            <p>Por favor ingresa tus datos para completar el registro</p>

            <a class="segunda-opcion">O</a>

            <a href="login.html"
              ><button class="ghost">Inicia Sesión</button></a
            >
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
