<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vendedor | CLIENTES</title>
    <link rel="stylesheet" href="../static/css/vendedor-clientes-style.css" />
  </head>
  <body>
    <nav class="menu" tabindex="0">
      <div class="smartphone-menu-trigger"></div>
      <header class="avatar">
        <img src="../static/img/foto_perfil.png" />
        <h2 style="color: #070707; font-weight: bold">Pedrito</h2>
        <h2 style="font-size: 15px; color: #070707">Vendedor</h2>
      </header>
      <div class="lista-iconos">
        <a href="./vendedor-inicio.html" tabindex="0" class="icon-inicio"
          ><span>Inicio</span></a
        >
        <a
          href="./vendedor-clientes.html"
          tabindex="0"
          class="icon-clientes active"
          ><span>Clientes</span></a
        >
        <a
          href="./vendedor-cotizacion.html"
          tabindex="0"
          class="icon-cotizacion"
          ><span>Cotización</span></a
        >
        <a href="./vendedor-compra.html" tabindex="0" class="icon-compra"
          ><span>Compra</span></a
        >
        <a href="./vendedor-stock.html" tabindex="0" class="icon-stock"
          ><span>Stock</span></a
        >
        <a href="./vendedor-consultar.html" tabindex="0" class="icon-consultar"
          ><span>Consultar</span></a
        >
      </div>

      <div class="cerrar-sesion">
        <a href="../templates/index.html" class="button-cerrar-sesion"
          >Cerrar Sesión</a
        >
      </div>
    </nav>
    <div class="container">
      <div class="new-cliente-container">
        <h2 class="title">Agregar Cliente</h2>
        <form class="new-cliente-form">
          <div class="labels">
            <label for="nombre">Nombre:</label>
            <label for="nit">NIT:</label>
            <label for="nicho">Nicho:</label>
            <label for="representante">Representante:</label>
            <label for="contacto">Contacto:</label>
          </div>
          <div class="inputs">
            <input type="text" id="nombre" />
            <input type="text" id="nit" />
            <input type="text" id="nicho" />
            <input type="text" id="representante" />
            <input type="text" id="contacto" />
          </div>

          <button class="btn-aceptar" type="submit">Aceptar</button>
        </form>
      </div>
      <button class="btn-verlista">Ver Lista</button>
    </div>
  </body>
</html>
